html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
  font-family: 'Pt Sans', Arial, Helvetica, sans-serif;
  font-weight: regular;
    -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
  color: #515357;
  background-color: #FFFFFF;
}

/*---FONTS---*/
h1 {
  font-weight: 700;
  font-size: 6em;
  color: #FFFFFF !important;
}

h2 {
  font-weight: 700;
  font-size: 2.2em;
}

h3 {
  font-family: 'PT Serif', serif;
  font-size: 1.9em;
  font-weight: 700;
}

h4 {
  z-index: -100;
  position: absolute;
  font-size: 4em;
  opacity: 0.2;
  margin-top: -80px;
  margin-left: -30px;
}

h5 {
  font-family: 'PT Sans', sans;
  font-size: 1.15em;
  font-weight: bold;
  color: #818181;
}

p {
  font-family: 'PT Serif', serif;
  color: #818181;
  font-size: 1.3em;
}

li {
  font-family: 'PT Serif', serif;
  font-size: 1.2em;
  color: #818181;
}

a {
  text-decoration: none;
  color: #FF5A5F;
  -webkit-transition: 0.2s all;
}

a:hover {
  color: #FFB400;
  text-decoration: none;
  -webkit-transition: 0.2s all;
}

/*---HEADER---*/
.jumbotron {
  background-image: url('https://cloud.githubusercontent.com/assets/14104075/12690799/5c354910-c6a3-11e5-84d3-50d4ae36b464.png');
  margin-top: 30;
  background-size: cover;
  height: 97vh;
  vertical-align: middle;
  position: relative;
  text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}

.jumbotron .container {
  padding-top: 50px;
}


header p{
  color: white;
  font-size: 1.5em;
  text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}

/*---FOOTER---*/

footer {
  text-align: center;
  padding: 20px 20px 20px 20px;
  margin-top: 40px;
  background-color: #F0F0F0 ;
}

footer img {
  size: 20%;
  vertical-align: middle;
}

.split {
  width: 60px;
  background-color: black;
  border-style: solid;
  margin: 20px 20px 0px 0px;
}

/*---FINAL---*/

.section {
  padding: 10px;
}

#final img{
  width: 100%;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(0,0,0,0.5));
  filter: url(shadow.svg#drop-shadow);
  padding: 10px;
}

img {
  width: 100%;
  padding: 10px;
}

.row {
  padding-top: 20px;
  padding-bottom: 10px;
}

#center {
  text-align: center;
  font-size: 0.6em;
  padding-bottom: 20px
}

#centerpic {
  width: 80%;
    -webkit-filter: drop-shadow(0px 4px 10px rgba(0,0,0,0.5));
  filter: url(shadow.svg#drop-shadow);
}

#quote img{
  border-radius: 100px;
  width: 100px;
}

/*---CONCLUSION---*/

#conclude img {
  -webkit-filter: none;
  border-radius: 100px;
}

#sig img {
  border-radius: none;
  -webkit-filter: none;
  width: 140px;
  padding: 0px;
}

#conclude p {
  margin-left: 40px;
  padding: 50px;
  font-size: 1.2em;
  font-family: 'Pt Sans', Arial, Helvetica, sans-serif;
}

/*---EXTRAS---*/
#conclude {
  width: 105px;
}

.divide {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #E8E8E8;
  padding: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.container {
  padding: 2% 20% 0% 20%;
}

@media (max-width: 480px) {
  .container {
    padding: 2% 4% 0% 4%;
  }

  h1 {
    font-size: 3.4em;
  }

  p {
  font-size: 1.23em;
  }

   #centerpic {
    width: 90%;
  }

  header .container {
  padding: 0% 4% 0% 4%;
  position: absolute;
  top: -30px;
  }

  .jumbotron {
  position: relative;
}
  .jumbotron .container {
  padding-top: 60px;
}
  #conclude {
  width: 95px;
}


}

@media (max-width: 1000px) and (min-width: 590px) {
    .container {
      padding: 2% 4% 0% 4%;
    }

  img {
  width: 80%;

  padding: 10px;
}

   #centerpic {
    width: 40%;
  }

  header .container {
  padding: 0% 0% 0% 15%;
  }

  #conclude {
  width: 105px;
}
  .jumbotron .container {
  padding-top: 20px;
}

}
